# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# PyCharm
.idea/

# pytest
.pytest_cache/

# Selenium downloads
downloads/*

# Reports
reports/*

# Environment
.env